/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Copy from LoveRunning: BASIC RESET Asterisk wildcard selector to override default styles added by the browser */
 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Adapted from LoveRunning */
/* BASIC STYLES */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'open-sans', 'Roboto', sans-serif;
  color: rgba(48, 19, 1, 1);
  margin: 0;
  padding-top: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  color: #301301;
  margin-top: 20px;
  margin-bottom: 15px;
}

.hidden-heading {
  display: none;
}

/* HEADER & NAVIGATION BAR */
.navbar {
  background-color: #b7a8a2;
  box-shadow: 0px 1px 10px rgba(48, 19, 1, 0.8);
  display: flex;
  align-items: center;
  /* Change to column for stacking elements vertically */
  flex-direction: column;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
   width: 100vw;
  z-index: 101;
  /* Rounded corners adapted from www.w3schools.com/css/css3_borders.asp */
  border-bottom-left-radius: 15px; 
  border-bottom-right-radius: 15px; 
}

.navbar-logo img {
  width: 150px;
}

/* Navbar logo hover effect */
.navbar-logo img {
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.navbar-logo img:hover {
  transform: scale(1.05); /* Slightly increase size on hover */
}

/* Hamburger bars*/
.burger {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 1rem;
  z-index: 1001;
  border: 1px solid #301301; 
  padding: 5px; 
  border-radius: 5px; 
}

/* Burger menu icon - displayed on small screens */
#toggle {
  display: none;
}


/* Hide menu by default on mobile */
.menu {
  display: none; 
  flex-direction: column;
  align-items: flex-start;
  font-weight: 500;
}

/* Display menu when burger icon (checkbox) is clicked */
#toggle:checked ~ .menu-container .menu {
  display: flex;
  flex-direction: column;
  /* Right align menu buttons */
  align-items: flex-start;
  background: #dbd3d8;
  border: 2px ridge #301301; 
  outline: 1px solid #dbd3d0;
  padding: 20px; 
  margin-top: 8px;
  border-radius: 10px; 
}

/* Styling of the anchor tags in menu */
.menu a {
  text-decoration: none;
  color: #301301;
  padding-right: 0.5rem;
  transition: transform 0.3s;
  margin: 5px 0;
}

.menu a:hover {
  transform: scale(1.1);
}

/* FontAwesome Icons in Menu */
.menu a i.fa-solid {
  font-size: 1rem; 
  margin-right: 10px; /* Add some space between the icon and text */
}

/* Decorative line under active menu item. */
/* class active selector with border-bottom did not function as wished, the line was much wider than the menu item(text). */
/* Found an answer on slack that I modified with the help of reading up on pseudo elements on w3school, mdn and by trial  */
/* and error https://stackoverflow.com/questions/68834109/how-do-i-get-a-vertical-line-to-the-left-of-the-active-menu-item */ 
.menu a.active::after {
  content: '';
  display: block;
  /* This centers the line */
  height: 1px;
  width: 100%;
  background-color: #3a3a3a;
}

/* MAIN CONTENT */
main {
  /* Enlarge main element to push footer down*/
  flex: 1 0 auto;
  /* Add margin at the top to prevent content from being covered by the header */
  margin-top: 80px;
  /* Enable flex properties for child elements */
  display: flex;
  /* Ensure full width */
  width: 100%;
  flex-direction: column;
  background-color: #fdf8f5;
}


/* Leaving LoveRunning - starting my own journey */
/* Hero Section in LANDING PAGE */

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/ocean-banner.webp") no-repeat center center/cover;
  background-position: center;
  color: #301301;
  text-align: center;
  /* Padding for mobile */
  padding: 110px 20px 10px;
  /* Flexible height for mobile */
  height: auto;
}

.hero-container {
  background-color: rgba(253, 248, 245, 0.5);
  position: static;
  top: 10px;
  /* Full width on mobile */
  width: 90%;
  border-radius: 18px;
  min-height: 100px;
}

.hero-container h1 {
  font-size: 1.8rem;
}

.hero-container p {
  font-size: 1rem;
  /* Improves readability */
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
}

/* Styling for both buttons */
#btn-hero-shop, #btn-hero-book {
  padding: 10px 10px; 
  border-radius: 15px; 
  text-decoration: none; 
  transition: background-color 0.3s, transform 0.3s; 
  display: inline-block; 
  width: 80px; 
  text-align: center; 
  margin-right: 10px;
  font-style: italic;
  font-weight: 500;
}

/* Styling for the btn-hero-shop button */
#btn-hero-shop {
  background-color: #fdf8f5; 
  border: 2px ridge #301301;
  color: #301301; 
}

#btn-hero-shop:hover {
  background-color: #5ae25f;
  transform: scale(1.05); 
}

/* Styling for the btn-hero-book button */
#btn-hero-book {
  background-color: #301301; 
  border: 2px ridge #fdf8f5; 
  color: #fdf8f5; 
}

#btn-hero-book:hover {
  background-color:#5ae25f;
  transform: scale(1.05); 
}

/* Service section - LANDING PAGE */
#services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f8f8f8;
  padding: 20px;
}

.service {
  /* Set a maximum height for consistency */
  flex-basis: 100%; 
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  /* Set a maximum height for consistency */
  max-height: 200px; 
  border-radius: 50px;

}

/* End-note section in LANDING PAGE */
#end-note {
  background-color: rgb(233, 241, 245);
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  /* Improves readability */
  line-height: 1.5;
   font-weight: 500;
}

/* FOOTER */
footer {
  background-color: #b7a8a2;
  box-shadow: 0px -1px 10px rgba(48, 19, 1, 0.8);
  color: #301301;
  padding: 20px 0;
  display: flex;
  flex-direction: column; 
  align-items: center;
  /* Rounded corners adapted from www.w3schools.com/css/css3_borders.asp */
  border-top-left-radius: 15px; 
  border-top-right-radius: 15px; 
}

/* Font Awesome icon styles */
.fa-brands {
  font-size: 2rem; 
}

.footer-mid {
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #301301;
  order: 1; 
}

.footer-right {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  padding-right: 10;
  order: 2; 
}

.footer-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  order: 3; 
}

.footer-right,
.footer-left ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.footer-divider {
  width: 100%;
  margin-top: 10px;
  order: 4; 
}

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 20px;
  order: 5; 
}

/* RESPONSIVE DESIGN */
/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {




/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
  /* LANDING PAGE min768 */
  /* Navbar*/
.navbar {
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center; 
}

.navbar-logo img {
  width: 180px; 
}

.burger {
  display: none; 
}

/* MAIN */
main {
  margin-top: 80px; /* Lesser margin for larger screens */
}

/* Menu */
.menu {
  display: flex; 
  flex-direction: row; 
  align-items: center;
  justify-content: space-around; 
  padding-right: 40px;
}

.menu a {
  padding: 0.5rem 1rem; 
  /* Add horizontal space between menu items */
  margin: 0 10px; 
}

.menu a i.fa-solid {
  font-size: 10px; 
}

/* Hero section - landing page */
#hero {
  padding: 80px 10px 10px; 
  height: 600px; 
}
.hero-container h1 {
  font-size: 2.5rem; 
}

#services .service {
  flex-basis: 30%; /* Adjust width for larger screens */
}


/* FOOTER */
footer {
  flex-direction: row; 
  justify-content: space-between;
}
.footer-left, .footer-right {
  flex-direction: row;
}
}

@media only screen and (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* End-note in LANDING PAGE */
  #end-note {
    padding-left: 350px; 
    padding-right: 350px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
}