/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: 'open-sans', 'Roboto' , sans-serif;
    font-weight: 400;
    background-color: rgba(222, 217, 219, 0.2);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    /* Generic project styles */
    color: rgba(48, 19, 1, 1); 
} 

h1, h2, h3, h4, h5, h6  {
    font-family: 'Roboto' , sans-serif;
    letter-spacing: 2px;
    color: inherit;
    margin-top: 20px; /* Add space above each heading */
    margin-bottom: 15px; /* Add space below each heading */
}

p {
    margin-top: 10px; /* Add space above each paragraph */
    margin-bottom: 10px; /* Add space below each paragraph */
}

ul {
    margin-top: 15px; /* Add space above each list */
    margin-bottom: 15px; /* Add space below each list */
    padding-left: 20px; /* Add space inside the list, to the left of list items */
}

/* Header & Logo */
.header-wrapper {   
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(222, 217, 219, 1); 
    margin: 0;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #301301;
    align-items: center;
}

#logo {
    height: 100px;
    width: 150px;
    margin: 5px;
    display: inline-block;
    text-align: center;
}

.logo-img {
    display: flex;
    align-items: center;
    letter-spacing: 2px;  
    font-size: 2em;
    font-weight: 600; 
    text-transform: uppercase;
    text-decoration: none;
}


.logo-img :hover {
    transform: scale(1.1); 
}

/* Navigation menu & links */

.nav-menu {
    font-size: 100%;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    gap: 30px;            
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    text-decoration: none;
    gap: 30px;
}

.nav-menu a {
    text-decoration: none;  
    color: rgba(48, 19, 1, 1); 
}

.nav-menu a:hover {
    font-weight: 600;
    text-shadow: 1px 1px 2px black; 
}

.active {
    border-bottom: 1px solid #301301;
}
#active-service {
    border-bottom: 1px solid #301301;
}

/* Sub-menu dropdown adapted from w3schools.com/howto/howto_css_dropdown_navbar */

/* The dropdown container */
.dropdown {
    float: left;
    position: relative;
    color: #ded9db;
}

/* Dropdown button */
.dropbtn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    letter-spacing: 2px;
    align-items: center;  
    border: none;
    outline: none;
    background-color: transparent;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline:invert;
    color: rgba(48, 19, 1, 1);   
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #301301;
    color: rgba(253, 248, 245, 1); 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #301301;
    min-width: 160px;
    z-index: 1;
}

/* Dropdown Links */
.dropdown-content a {
    font-size: small;
    color: rgb(253, 248, 245);
    padding: 12px 10px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content .sub-menu {
    color: #301301;
}

/* Main */
main {
    margin-left: 1px;
    margin-right:1px;
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 119px;
   /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}


/* Hero section - Welcome */

#hero .background-image {
    background: url("../images/ocean-banner.webp") no-repeat center center/cover; 
    background-size: cover;
    background-position: center;
    padding: 100px 0; 
    position:relative;
}

#hero .content {
    text-align: center;
    color: rgba(28, 19, 1, 1); 
    font-weight: 500;
    max-width: 600px; 
    margin: 0 auto;
    position: relative;
 }


#hero .content a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 11%;
    /* Gap between buttons */
    margin-right: 10px; 
    /* Ensures buttons have the same width */
    min-width: 150px; 
    text-align: center;
}

.appointment-button {
    background-color: rgb(150, 192, 150);
    border: 0.6px solid rgb(255, 255, 255, .6)
}

.gift-button {
    background-color: rgb(17, 17, 109);
    border: 1px solid rgb(255, 255, 255, .6)
}

#hero .content a:hover {
    opacity: 0.6;
}

/* Services section */

.services-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.service {
    flex-basis: 30%;
    text-align: center;
}

.service img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
}

.service p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.appointment-button {
    background-color: rgb(150, 192, 150);
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.appointment-button:hover {
    background-color: #0056b3;
}

/* Footer */

footer {
    background-color: #ded9db;
    min-height: 100px;
    width: 100%;
    padding: 1rem;
    color: rgba(48, 19, 1, 1); 
    font-size: 14px;
    margin: 0;
    box-shadow: 1px 0 0 #301301;
    box-shadow: 1px 0px 0px 0px rgba(222, 217, 219, .2);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#social-networks, #payment-options {
    list-style-type: none;
    display: flex;

}

#social-networks li, #payment-options li {
    /* Add space between items */
    margin-right: 20px; 
}

#social-networks li:last-child, #payment-options li:last-child {
    /* Remove margin for the last item */
    margin-right: 0; 
}

.footer-center {
    flex-grow: 1;
    text-align: center;
    /* Add padding on both sides */
    padding: 0 20px;
}

.footer-center a {
    margin: 0 10px;
}

.footer-divider {
    border: none;
    height: 1px; 
    background-color: #301301; 
    margin: 20px 0 10px; 
}

.footer-bottom {
    text-align: center;
    margin-top: 1rem;
    font-size: small;
}

/* Footer Icons */
#social-networks i, #payment-options i {
    font-size: 180%;
    padding: 5%;
    color: rgba(48, 19, 1, 1); 
}

#social-networks i:hover, #payment-options i:hover {
    color: rgba(74, 5, 135, 0.8); 
    transform: scale(1.1); 
}

#footer-cookie:hover, #footer-privacy:hover {
    color: rgb(251, 5, 235, 1); 
}



/* Shop page */

.shop  {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    background-color: inherit;
    text-align: center;
    position: relative; 
    gap:20px;
    width: auto; 
    height: auto;
}

.image-container {
    display: flex; /* Enable Flexbox for the container */
    flex-wrap: wrap; /* Allow items to wrap if needed */
    align-items: center; /* Vertically center items in the container */
    justify-content: center;
     box-sizing: content-box;
    background-color: rgba(222, 217, 219, .2); /* Semi-transparent background */
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

/* Resize the £50 and £100 gift card image */
.gift-pic {
    width: 200px; 
    /* maintains the aspect ratio */
    height: auto; 
    margin: 10px;
}

/* Thank You page & Not Found page*/

.thank-you, .not-found {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
       margin-top: 50px;
    /* Center the box */
    margin-left: auto; 
    /* Center the box */
    margin-right: auto; 
    /* Responsive width */
    width: 80%; 
    max-width: 640px; 
    font-size: inherit;
    background-color: rgba(222, 217, 219, 0.2);
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    position: relative; 
}

.thank-you ul, .not-found ul {
    margin: 0 auto; /* Centers the list */
    padding-left: 0;
    list-style-position: inside;
    text-align: left; 
    max-width: max;
}

/* Media queries */

/* Media query: max-width 480 px */
@media screen and (min-width: 480px) {
/* Adjust styles for very small screens if necessary */
.gift-pic {
    width: 100%; /* Full width of the container */
    margin: 10px 0; /* Vertical margin */
}    

}

@media (min-width: 540px) {
.image-container {
    flex-direction: column; /* Stack children vertically */
}

.gift-pic {
    width: 100%; /* Full width of the container */
    margin: 10px 0; /* Vertical margin */
}

}

@media screen and (max-width: 768px) {
/* Header */

/* Layout change: menu stacks below logo */
.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;    
}

/* Centers logo above nav-menu */
.logo-img {
    display: block;
}

/* Main */

main {
/* Add margin at the top to prevent content from being covered by the header */
    margin-top: 119;
}

/* Services*/

@media (min-width: 768px) {
    /* To have proper img scaling for devices larger thn 768px */
    .service img {
        width: 100%;
        height: auto;
    }
}

/* Footer */
.footer-top {
    flex-direction: column;
    align-items: center;
}

    #payment-options {
    /* Stack payment options at the top */
    order: 1;
    margin-bottom: 10px;
}

#social-networks {
    /* Social networks in the middle */
    order: 2;
    margin-bottom: 10px;
}

.footer-center {
    /* Footer center content (Cookies, Privacy Policy) */
    order: 3;
}

/* Shop page */
    .shop h1, h2, h3, h4, h5, h6, p {
        /* Ensuring the .shop container stacks its children vertically */
    text-align: left;
}

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {


/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}