/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* BASIC RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BASIC STYLES */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'open-sans', 'Roboto' , sans-serif;
    height: 100%
    color: rgba(48, 19, 1, 1); 
}

html, body {
    height: 100%;
    margin: 0;
    width: 100%;
}

h1, h2, h3, h4, h5, h6  {
    font-family: 'Roboto' , sans-serif;
    letter-spacing: 2px;
    color: #301301;
    margin-top: 20px;
    margin-bottom: 15px; 
}

.hidden-heading {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;
    position: absolute;
    top: 0;
    z-index: 1000; 
    background-color: #ded9db;
}



/* HEADER & NAVIGATION BAR */
.navbar {
    background-color: #ded9db;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
    top: 0;
    z-index: 1000;
}

.navbar-logo {
    font-size: 1.5rem;
}

.navbar-logo img {
    width: 100%;
    height: auto;

}
.logo-img :hover {
    transform: scale(1.1); 
}

.burger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.menu a {
    text-decoration: none;
    color: #301301;
    padding: 1rem;
    /* Make the menu horizontal */
    display: inline-block; 
    transition: transform 0.3s; 
}

.menu a:hover {
    transform: scale(1.1);
}

/* Checkbox Hack for Toggle Menu */
#toggle {
    display: none;
}

#toggle:checked + .menu {
    display: block;
}

/* Dropdown Menu Styles */
/* Sub-menu dropdown adapted from w3schools.com/howto/howto_css_dropdown_navbar */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #301301; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: transform 0.3s; 
}

.dropdown-content a:hover {
    background-color: #555; 
    transform: scale(1.1); 
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover > a {
    color: white; 
}

/* MAIN CONTENT */
/* Main */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 10;
    /* Enable flex properties for child elements */
    display: flex;
    /* Ensure full width */
    width: 100%;
    flex-direction: column;
    background-color: #fdf8f5;  
}

/* Hero Section */
#hero {
    background-image: url("../images/pale-ocean.webp");
    background-position: center;
    color: #301301;
    text-align: center;
    font-weight: 400;
    padding: 50px 20px; 
}

.hero-container {
    max-width: 1200px;
    margin: auto;
}

.hero-container h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-align: center;
}

.hero-container p {
    font-size: 1rem;
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 1.5; /* Improves readability */
    font-size: larger;
    font-weight: 500;
    text-align: center;

}

.hero-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* Spacing between buttons */
    margin-bottom: 30px;
    }

#btn-hero-shop {
    display: inline-block;
    padding: 10px 30px;
    background-color:  #46ce9a;
    border: 0.5px solid #ded9db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
#btn-hero-book {
    display: inline-block;
    padding: 10px 30px;
    background-color:  #007bff;
    border: 0.5px solid #ded9db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-hero:hover {
    background-color: #0056b3; /* darker shade for hover effect */
}

/* Responsive Images */
img {
    max-width: 100%;
    height: auto;
}

 /* Services section*/
 #services {
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8; /* Light background color */
    padding: 20px;
}

.service {
    text-align: center;
    width: 30%; /* Adjust based on your preference */
}

.service img {
    width: 100%; /* Responsive image */
    height: auto;
}

.service h2 {
    margin-bottom: 15px;
}

/* End-note section */
#end-note {
    background-color: rgb(233, 241, 245);
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    line-height: 1.5; /* Improves readability */
    font-size: large;
    font-weight: 500;
}
 
 /* BOOKING & PRICE SUB-PAGE*/

 .book-price {
    text-align: left;
    padding: 2% 0 2% 5%;
}


 /* SHOP SUB-PAGE*/
 /* Main Shop */

 #shop-hero {
    text-align: center;
    padding: 2% 0 2% 5%;
}

#shop-hero h1 {
    margin-bottom: 20px;
}

#shop-hero p {
    margin-bottom: 20px; 
}

/* Shop Items Section */
#shop-items {
    padding: 10px;
}

.shop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 5px;  
}

.shop-item {
    flex: 1;
    max-width: 50%; 
    box-sizing: border-box;
    padding: 5px; 
}

.shop-item img {
    width: 80%;
    height: auto;
    display: block; 
    /* Center the image in its container */
    margin: 0 auto; 
}

#shop h1, p {
    text-align: center;
}

 /* CONTACT  SUB-PAGE */

 #contact-hero {
    text-align: left;
    padding: 2% 0 2% 5%;
}


/* THANK YOU  */
.thank-you {
    padding: 2% 0 2% 5%;
}

.thank-you ul {
    padding-left: 40px; 
    list-style-position: outside; 
}


/* NOT FOUND (404) SUB-PAGE */

#ono-main {
    padding: 10px 0;
}
.ono-hero {
    /* Bolder outer border */
    border: 2px solid #301301; 
    /* Thinner inner line */
    outline: 0.5px solid #301301; 
    /* Adjusts the position of the outline */
    outline-offset: -10px; 
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 80%;
    max-width: 960px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    box-sizing: border-box;
    text-align: center;
}


/* COOKIE SUB-PAGE */
#cookie-hero {
    text-align: left;
    padding: 2% 0 2% 5%;
}

#cookie-hero h1 p {
    margin-bottom: 20px;
}

#cookie h1, p {
    text-align: left;
}

#cookie-hero ul {
    padding-left: 20px; 
}


/* GDPR SUB-PAGE */
#gdpr-hero {
    text-align: left;
    padding: 2% 0 2% 5%;
}

#gdpr-hero h1 p {
    margin-bottom: 20px;
}

#gdpr h1, p {
    text-align: left;
}

#gdpr-hero ul {
    padding-left: 20px; 
}


/* PRIVACY-POLICY SUB-PAGE */

#privacy-policy {
    text-align: left;
    padding: 2% 0 5% 5%;
}

#privacy-policy h1 p {
    margin-bottom: 20px;
    text-align: left;
}

#privacy-policy ul {
    padding-left: 40px; /* Adjust as needed for indentation */
    list-style-position: outside; /* Optional: Ensures bullets are aligned with the indented text */
}



/* FOOTER */
/* Footer Main */
footer {
    background-color: #ded9db; 
    color: #301301;    
    padding: 20px 0;
}

/* Footer Top */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px
}

#social-networks,
#payment-options {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

#social-networks li,
#payment-options li {
    margin: 0 10px;
}

#social-networks i, #payment-options i {
    font-size: 180%;
    padding: 5%;
    color: rgba(48, 19, 1, 1); 
}

#social-networks i:hover, #payment-options i:hover {
    color: rgba(74, 5, 135, 0.8); 
    transform: scale(1.1); 
}

/* Footer Center */
.footer-center {
    text-align: center;
    font-size: 1.2rem;     
}

.footer-center a {
    text-decoration: none;
    color: #301301;
    margin: 0 10px;
}

#footer-cookie:hover, #footer-privacy:hover {
    color: rgb(251, 5, 235, 1); 
}

/* Footer Bottom */
.footer-divider {
    border-color: 0.5px solid #301301;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 0.9rem;
    margin-top: 20px;
    text-align: center;
}

.fa-brands {
    font-size: 1.5rem;
}


/* RESPONSIVE STYLES */

/* Media Query for Mobile Devices - MAX 480 px */
@media screen and (max-width: 480px) {

/* HERO */
    #hero {
        height: 60vh; 
    }

    .hero-container h1 {
        font-size: 2rem; 
    }

    .hero-container p {
        font-size: 1rem; 
    }

    .shop-item {
        max-width: 100%; 
    }

    #shop-hero h1 {
        font-size: 1.4rem; 
    }

    #shop-hero p {
        font-size: 0.9rem; 
    }

    /* COOKIE */
    #cookie-hero {
        padding: 0 10px; /* Adjust padding for smaller screens */
    }

    #cookie-hero ul {
        padding-left: 15px;
    }

    .ono-hero {
        width: 100%; 
        padding: 15px 5px;
        /* Adjust position for better mobile viewing */ 
        position: static;
        transform: none;
        top: auto;
        left: auto;
    }

    /* THANK YOU PAGE */
    .thank-you {
        width: 100%; 
        padding: 15px; 
        outline-offset: -5px; 
    }
    .thank-you ul {
        padding-left: 20px; 


    /* PRIVACY POLICY */
    .thank-you {
        width: 100%;
        padding: 15px 5px;
    }
    .thank-you ul {
        padding-left: 15px;
    }
}

/* Media Query for Mobile Devices - MAX 768px */
@media screen and (max-width: 768px) {

    /* NAVIGATION */
/* Adjust the logo size for mobile */
    .navbar-logo img {
        width: 150px; /* Smaller width for mobile devices */
    height: auto; /* Maintain aspect ratio */
}

    

    .burger {
        display: block;
    }

    #toggle {
        display: none;
    }

    #toggle:checked + .menu-container,
    .menu-container {
        display: block;
    }

    .menu {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        width: 100%;
    }

    .menu a {
        text-align: center;
        padding: 10px;
        width: 100%; 
        display: block; 
    }

    /* Adjusting the dropdowns for mobile view */
    .dropdown-content {
        position: relative; 
    }

    /* HERO */
    .hero-container h1 {
        font-size: 2.5rem; 
    }

    .hero-container p {
        font-size: 1.2rem; 
    }

    .hero-buttons {
        flex-direction: column;
    }

    #services {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 80%; 
        margin-bottom: 20px;
    }

    .btn-hero {
        width: 100%; 
    }

    /* SHOP */
    .shop-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .shop-item {
        flex: 1 0 100%;
        max-width: 100%; 
        padding: 5px;
    }

    #shop-hero h1 {
        font-size: 1.5rem; 
    }

    #shop-hero p {
        font-size: 1rem; 
    }

    .shop-item img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    /* FOOTER */
    .footer-top {
        flex-direction: column;
        text-align: center;
    }

    #social-networks,
    #payment-options {
        flex-direction: column;
    }

    .footer-center a,
    #social-networks li,
    #payment-options li {
        margin-bottom: 10px;
    }

    /* 404 PAGE */
    .ono-hero {
        width: 95%; 
        padding: 20px 10px; 
    }

    /* THANK YOU PAGE */
    @media screen and (max-width: 768px) {
        .thank-you {
            width: 95%; /* Adjust width for tablet screens */
        }

    /* PRIVACY POLICY */
    .thank-you {
        width: 95%; 
        padding: 20px 10px;
    }

/* Media Query for Desktops - MAX 1110 px */
@media only screen and (min-width: 951px) and (max-width: 1110px) {
    /* Adjust the logo size */
    .navbar-logo img {
        width: 250px; 
        height: auto; 
    }

    /* SHOP */
    .shop-item {
        flex: 1 1 25%; 
        max-width: 25%; 
    }

    /* 404-PAGE */
    .ono-hero {
        width: 90%; 
    }

    /* THANK YOU PAGE */
    .thank-you {
        width: 90%; /* Adjust width for larger screens */
    }

    /* PRIVACY POLICY */
    .thank-you {
        width: 90%; 
    }



/* Media Query for Full HD and Larger Displays (1400px and above) */
@media screen and (min-width: 1400px) {
        /* SHOP */
    .shop-item {
        /* Allow four items per row on larger screens */
        flex: 1 1 25%; 
        max-width: 25%; 
    }
    /* THANK YOU PAGE */
    .thank-you {
        max-width: 1200px; 
    }



/* Media Query for Ultra Wide Displays (1920px and above) */
@media screen and (min-width: 1920px) {
        /* SHOP */
    .shop-item {
        
        flex: 1 1 20%; 
        max-width: 20%; 
    }
    /* 404 PAGE */
    .ono-hero {
        max-width: 1200px; 
    }

    /* THANK YOU PAGE */
    .thank-you {
        
    }

    /* PRIVACY POLICY */
    .thank-you {
    }
}